{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}
{% load compress %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
		 	<div class="col-md-2 col-lg-2">
		 		{% article_menu as dossiermenu %}
		 		<h4>{{dossier.title}}</h4>
		 		<div class="hline"></div>

		 		<ul class="category-navigation">
		 			{% for menuitem in articleitems %}
		 			<li><a class="entry-navigation" href="{%pageurl menuitem%}">{{menuitem.title}}</a></li>
		 			{% endfor %}
		 			{% if dossieritems.all|length > 0 %}
		 			<li><div class="separator"></div></li>
		 			{% endif %}
		 			{% for dossieritem in dossieritems %}
		 			<li><a class="entry-navigation" href="{%pageurl dossieritem%}">{{dossieritem.title}}</a></li>
		 			{%endfor%}
		 		</ul>
		 	</div>
		 	<div class="col-md-10 col-lg-10">
		 		<div class="row">
		 			{% if self.image_items.all|length > 0 %}
		 			{% for image_item in self.image_items.all %}

		 			<div class="{{self.image_items.all|determine_dossier_class}}">
		 				<div class="thumbnail">
		 					{% image image_item.image max-250x250 as imagedata %}
		 					<img src="{{ imagedata.url }}" alt="{{ image_item.caption}}">
		 					{% if imagedata.caption|length > 0 %}
		 					<div class="caption">
		 						<p>{{image_item.caption}}</p>
		 					</div>
		 					{% endif %}
		 				</div>
		 			</div>
		 			{% endfor %}
		 			{% endif %}
		 			<div class="col-md-12 col-lg-12">
		 				{% if self.text_content|striptags|length > 0 %}
		 				<h3>{{self.title}}</h3>
		 				<p>
		 					{{ self.text_content|richtext}}
		 				</p>
		 				{%endif%}
		 			</div>
		 			<div class="col-md-12 col-lg-12"> 
		 				<div data-social-share-privacy='true'></div>
		 			</div>
		 		</div>
		 	</div>
	 	</div><!--/row -->
	 </div><!--/container -->

	 
{% endblock %}

{% block override_js %}
<script type="application/x-social-share-privacy-settings">{"path_prefix":"{{STATIC_URL}}socialshareprivacy/","layout":"line","services":{"buffer":{"status":false},"delicious":{"status":false},"disqus":{"status":false},"flattr":{"status":false},"hackernews":{"status":false},"pinterest":{"status":false},"reddit":{"status":false},"stumbleupon":{"status":false},"tumblr":{"status":false},"xing":{"status":false}},
"lang":"fr"}</script>
{% compress js %}
<script src="{{STATIC_URL}}js/jquery-1.9/jquery.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/jquery.cookies.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL}}js/jquery.socialshareprivacy.min.autoload.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL}}js/jquery.socialshareprivacy.min.fr.js" type="text/javascript" ></script>
{% endcompress %}
{% endblock %}
