{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}
{% load training_tags %}
{% load article_tags %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    
	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
	 		{% if self.carousel_items.all %}
		 	<div class="col-lg-10 col-lg-offset-1 centered">
			 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			 		{% if self.carousel_items.all|length > 1 %}
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				  	{% for carousel_item in self.carousel_items.all %}
				    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} ></li>
				    {% endfor %}
				  </ol>
				  {% endif %}
				  <!-- Wrapper for slides -->

				  <div class="carousel-inner">
				  	{% for carousel_item in self.carousel_items.all %}
				    <div class="item{% if forloop.first %} active{% endif %}">
				    	{% image carousel_item.image width-1000 as carouselimagedata %}
				      <img src="{{ carouselimagedata.url }}"  alt="{{ carouselimagedata.alt }}">
				      <div class="carousel-caption">
						<h3>{{ carousel_item.caption }}</h3>
					  </div>
				    </div>
				    {% endfor %}
				  </div>
				</div><!--/Carousel -->
		 	</div>
		 	{% endif %}
		 	
		 	<div class="col-md-3 col-lg-3">
			 	<div class="spacing"></div>
		 		<h4 class="content-title-h4">ACTUALITÉS</h4>
		 		{{ self.news | richtext }}
		 	</div>
		 	
		 	<div class="col-md-8 col-lg-8 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4 class="content-title-h4">Association</h4>
		 		<div class="hline"></div>
		 		<div class="row">
		 			<div class="col-xs-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
				 		<div id="portfoliowrap">
					 		<div class="portfolio-centered">
					 			<div class="row">
					 				{% association_menu as associationmenu %}
					 				{% for menuitem in associationmenu %}
					 				<div class="col-xs-6 col-md-3 col-lg-3">
							 			<div class="portfolio-item">
							 				<a href="{% pageurl menuitem %}">
												<div class="he-wrap tpl6">
													<div class="tile">
														<div class="tile-icon"><i class="fa {{menuitem.icon_class}} fa-4x"></i></div>
														<div class="he-view">
															<div class="bg a0" data-animate="fadeIn">
								                                <h3 class="a1" data-animate="fadeInDown">{{ menuitem.title }}</h3>
								                        	</div><!-- he bg -->
														</div><!-- he view -->		
													</div>
												</div><!-- he wrap -->
											</a>
										</div><!-- end portfolio-item -->
									</div>
									{% endfor %}
								</div>
					 		</div>
					 	</div>
					 </div>
				</div>
		 	</div>
		 	
		 	<div class="col-md-3 col-lg-3">
		 		<div class="coming-trainings">
		 			<h4>Stages à venir</h4>
		 			<div class="hline-w"></div>
		 			<div class="content-trainings">
		 				<ul>
		 					{% next_training as nexttraining %}
		 					{% for training in nexttraining %}
		 					<li><div><div class="training-date"><span class="entry-day">{{training.start |date:'d'}} </span><span class="entry-month">{{training.start |date:'M'}}</span></div><div class="training-title">{{training.title}}</div>
		 						<div class="pull-right" style="width:auto">
		 							<div style="width:100%;display:inline-block">
		 						{% with remaining_seats=training|remaining_seats class_rate=training|occupation_rate|rate_to_class %}
		 						{% if remaining_seats == 0 %}
		 						<div class="training-indicator label label-danger pull-right" data-toggle="tooltip" data-placement="left" title="Complet">Complet</div>
		 						{% elif remaining_seats != '' %}
		 						<div class="training-indicator label {{ class_rate }} pull-right" data-toggle="tooltip" data-placement="left" title="{{remaining_seats}} places restantes">{{remaining_seats}}</div>
		 						{% endif %}
		 						{% endwith %}
		 							</div>

		 						{% if training.document != null %}
		 						<div class="training-doc">
		 							<a href="{{training.document.url}}" data-toggle="tooltip" title="{{training.document.title}}"><i class="fa fa-file-text-o"></i> plus d'infos</a>
		 						</div>
		 						{% endif %}
		 						{% if training.page != null %}
		 						<div class="training-doc">
		 							<a href="{{training.page.url}}" data-toggle="tooltip" title="{{training.page.title}}"><i class="fa fa-file-text-o"></i> plus d'infos</a>
		 						</div>
		 						{% endif %}
		 						</div>
		 					</div></li>
		 					{% empty %}
		 					<li><div>{% trans 'No scheduled training' %} </div>
		 					{% endfor %}
		 				</ul>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="col-md-9 col-lg-9">
		 		<h4 class="content-title-h4">Derniers articles</h4>
		 		<div class="hline"></div>
		 		<div class="row">
		 			{% last_articles as last_articles %}
		 			{% for article in last_articles %}
		 			<div class="col-md-3 col-lg-3">
		 				<div class="article-extract">
		 					<a href="{% pageurl article %}">
		 						<h5>{{article.title}}</h5>
		 						<p>{{article.text_content|striptags|truncatewords:34}}</p>
		 					</a>
		 				</div>
		 			</div>
		 			{% endfor %}
		 		</div>
		 	</div>
	 	</div><!--/row -->
	 </div><!--/container -->

{% endblock %}
