{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}
{% load compress %}
{% load i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row" ng-controller="MembersDisplayCtrl">
		 	<div class="col-md-12 col-lg-12">
		 		<div class="row">
		 			<div class="col-md-12 filter-member">
		 				<div class="spacing"></div>
 						<span><input ng-model="query" placeholder="{% trans 'Filter' %}"></span>
 						<div class="spacing"></div>
 					</div>
 					<div class="col-md-2 col-lg-2" ng-repeat="member in members | orderBy:'family_name':false | filter:query">
 						<div class="thumbnail">
 							<img src="{{ STATIC_URL }}/images/avatar_silhouette-150x150.jpg" alt="avatar" ng-show="member.photo == null"/>
 							<img ng-src="{$ member.photo $}" alt="avatar" ng-show="member.photo != null" />
 							<div class="cartouche-membre">
			 					<address>
			 						<strong>{$ member.family_name $} {$member.firstname$}</strong><br>	
			 						{$ member.address $}<br>
			 						{$ member.zipcode $} {$member.city $}<br>
			 						{$ member.phone $}
			 					</address>
			 				</div>
		 				</div>
	 				</div>
	 			</div>
		 	</div>
	 	</div><!--/row -->
	 </div><!--/container -->

	 
{% endblock %}
