{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
		 	<div class="col-md-12 col-lg-12">
		 		<h3>Accès membres</h3>
		 		<h4>Mot de passe requis</h4>
		 		<form action="{{ action_url }}" method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div>
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Continue" />
        </form>
		 	</div>
	 	</div><!--/row -->
	 </div><!--/container -->

	 
{% endblock %}
