{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
		 	<div class="col-md-2 col-lg-2">
		 		<h4>Press Book</h4>
		 		<div class="hline"></div>
		 		<ul class="category-navigation">
		 			<li><a class="entry-navigation" href="#">Généralités</a></li>
		 			<li><a class="entry-navigation" href="#">Enfants</a></li>
		 			<li><a class="entry-navigation" href="#">Divers</a></li>
		 		</ul>
		 	</div>
		 	<div class="col-md-10 col-lg-10 pressbook">
		 		<div class="spacing"></div>
		 		<div class="row">
			 		<!-- Column Left -->
				 	<div class="col-md-7 col-lg-7">
				 		<div class="row">
				 			<div class="news-une col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="#">Ostéopathie et travail</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						<img src="http://placehold.it/50x50">
				 					</span>
				 					<span>Santé magazine n° 234 - 2015</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						<div class="col-md-4 col-lg-4">
				 							<img src="http://placehold.it/200x200">
				 						</div>
				 						<div class="col-md-8 col-lg-8">
				 							<p><strong>Santé Magazine</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.<p>
				 						</div>
				 					</div>
				 				</div>
				 			</div>
				 			<div class="news col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="#">Ostéopathie et sport</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						<img src="http://placehold.it/50x50">
				 					</span>
				 					<span>Santé magazine n° 236 - 2015</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						<div class="col-md-4 col-lg-4">
				 							<img src="http://placehold.it/200x200">
				 						</div>
				 						<div class="col-md-8 col-lg-8">
				 							<p><strong>Santé Magazine</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.<p>
				 						</div>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
				 	</div>
				 	<!-- Column Right-->
				 	<div class="col-md-5 col-lg-5">
				 		<div class="row">
				 			<div class="news col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="#">Ostéopathie</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						<img src="http://placehold.it/50x50">
				 					</span>
				 					<span>L'ostéopathe n°5 - 2015</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						<div class="col-md-12 col-lg-12">
				 							<p><strong>L'ostéopathe</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.<p>
				 						</div>
				 					</div>
				 				</div>
				 			</div>
				 			<div class="news col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="#">Ostéopathie</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						<img src="http://placehold.it/50x50">
				 					</span>
				 					<span>L'ostéopathe n°5 - 2015</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						<div class="col-md-12 col-lg-12">
				 							<span>
				 								<img src="http://placehold.it/150x150">
				 							</span>
				 						</div>
				 						<div class="col-md-12 col-lg-12">
				 							<p><strong>L'ostéopathe</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.<p>
				 						</div>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
				 	</div>
				 </div>
			</div>
	 	</div><!--/row -->
	 </div><!--/container -->

	 
{% endblock %}
