{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
		 	<div class="col-md-2 col-lg-2">
		 		<h4>Press Book</h4>
		 		<div class="hline"></div>
		 		<ul class="category-navigation">
		 			{% pressbook_menu as pressbook_categories %}
		 			{% for category in pressbook_categories %}
		 			<li><a class="entry-navigation" href="{% pageurl category %}">{{category.title}}</a></li>
		 			{% endfor %}
		 		</ul>
		 	</div>
		 	<div class="col-md-10 col-lg-10 pressbook">
		 		<div class="spacing"></div>
		 		<div class="row">
		 			{% pressbook_articles as pressbookarticles %}
			 		<!-- Column Left -->
				 	<div class="col-md-7 col-lg-7">
				 		<div class="row">
				 			{% if pressbookarticles|pressbook_articles_col_left|slice:":1"|length > 0 %}
				 			{% for une_article in pressbookarticles|pressbook_articles_col_left|slice:":1" %}
				 			<div class="news-une col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="{% pageurl une_article %}">{{une_article.title}}</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						{% image une_article.icon_source min-50x50 %}
				 					</span>
				 					<span>{{une_article.detail}}</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						{% if une_article.image %}
				 						<div class="col-md-4 col-lg-4">
				 							{% image une_article.image fill-200x200 %}
				 						</div>
				 						{% endif %}
				 						<a href="{%pageurl une_article%}">
					 						<div class="col-md-8 col-lg-8">
					 							<p><strong>{{une_article.source}}</strong> - {{une_article.text|striptags|truncatewords:83}}<p>
					 						</div>
				 						</a>
				 					</div>
				 				</div>
				 			</div>
				 			{% endfor %}
				 			{% endif %}
				 			{% for article in pressbookarticles|pressbook_articles_col_left|slice:"1:" %}
				 			<div class="news col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="{% pageurl article%}">{{article.title}}</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						{% image article.icon_source min-50x50 %}
				 					</span>
				 					<span>{{article.detail}}</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						{% if article.image %}
				 						<div class="col-md-4 col-lg-4">
				 							{% image article.image fill-200x200 %}
				 						</div>
				 						{% endif %}
				 						<a href="{%pageurl article%}">
				 						<div class="col-md-8 col-lg-8">
				 							<p><strong>{{article.source}}</strong> - {{article.text|striptags|truncatewords:32}}<p>
				 						</div>
				 						</a>
				 					</div>
				 				</div>
				 			</div>
				 			{%endfor%}
				 		</div>
				 	</div>
				 	<!-- Column Right-->
				 	<div class="col-md-5 col-lg-5">
				 		<div class="row">
				 			{% for article in pressbookarticles|pressbook_articles_col_right|slice:":1" %}
				 			<div class="news col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="{% pageurl article %}">{{article.title}}</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						{% image article.icon_source min-50x50 %}
				 					</span>
				 					<span>{{article.detail}}</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						<a href="{%pageurl article%}">
					 						<div class="col-md-12 col-lg-12">
					 							<p><strong>{{article.source}}</strong> - {{article.text|striptags|truncatewords:32}}<p>
					 						</div>
				 						</a>
				 					</div>
				 				</div>
				 			</div>
				 			{%endfor%}
				 			{% for article in pressbookarticles|pressbook_articles_col_right|slice:"1:" %}
				 			<div class="news col-md-12 col-lg-12">
				 				<div class="news-titre">
				 					<a href="{% pageurl article %}">{{article.title}}</a>
				 				</div>
				 				<div class="news-source">
				 					<span class="news-icon-source">
				 						{% image article.icon_source min-50x50 %}
				 					</span>
				 					<span>{{article.detail}}</span>
				 				</div>
				 				<div class="news-item">
				 					<div class="row">
				 						{% if article.image %}
				 						<div class="col-md-12 col-lg-12">
				 							{% image article.image fill-150x150 %}
				 						</div>
				 						{% endif %}
				 						<a href="{%pageurl article%}">
				 						<div class="col-md-12 col-lg-12">
				 							<p><strong>{{article.source}}</strong> - {{article.text|striptags|truncatewords:83}}<p>
				 						</div>
				 						</a>
				 					</div>
				 				</div>
				 			</div>
				 			{%endfor%}
				 		</div>
				 	</div>
				 </div>
			</div>
	 	</div><!--/row -->
	 </div><!--/container -->

	 
{% endblock %}
