    {% load compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">

        {% compress css %}
            
             <!-- Bootstrap core CSS -->
            <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

            <!-- Custom styles for this template -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/aroeweb.css' %}">
            <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
            
        {% endcompress %}

        {% block extra_css %}
            
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
            <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Basculer la navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AROE</a>
        </div>
        <form class="navbar-collapse collapse navbar-form navbar-left search" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recherche">
                    <span class="input-group-btn">
                        <button class="btn btn-default " type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </form>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a class="entry-menu" href="pressbook.html"><i class="fa fa-newspaper-o fa-3x"></i><br/>Press Book</a></li>
            <li><a class="entry-menu" href="dossiers.html"><i class="fa fa-folder-open-o fa-3x"></i><br/>Dossiers</a></li>
            <li><a class="entry-menu" href="index.html"><i class="fa fa-envelope-o fa-3x"></i><br/>Contact</a></li>
            <li><a class="entry-menu" href="index.html"><i class="fa fa-user fa-3x"></i><br/>Accès Adhérent</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

        {% block content %}{% endblock %}


    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
     <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <h5><a href="#">Liens utiles</a></h5>
                    <h5><a href="dossiers.html">Dossiers</a></h5>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h5><a href="#">Développement Personnel</a></h5>
                    <ul>
                        <li><a href="#">Texte</a></li>
                        <li><a href="#">PNL</a></li>
                        <li><a href="#">Ennéagramme</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h5><a href="#">Press Book</a></h5>
                    <ul>
                        <li><a href="#">Général</a></li>
                        <li><a href="#">Enfants</a></li>
                        <li><a href="#">Divers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h5><a href="#">Mentions légales</a></h5>
                    <h5><a href="#">Contact</a></h5>
                </div>
            </div><! --/row -->
            <div class="footer">
                <p>&copy; 2015 AROE Tous droits réservés.
            </div>
        </div><! --/container -->
     </div><! --/footerwrap -->

        {% compress js %}
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    
            <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/retina-1.1.0.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.hoverex.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
            
            <script type="text/javascript" src="{% static 'js/aroeweb.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
            
        {% endblock %}
    </body>
</html>
